.header{
    width:100%;
    height: 92px;
    background-color: #3b5998;
   
}
body{
    margin: 0%;
    font-family: Helvetica Neue,Helvetica,Arial, Helvetica, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 30px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial, Helvetica, sans-serif;
    margin-left: 0px;
    color: #fff;
    margin-top: 6px;
   
}
.login-label{
    color: #fff;
}
.type{
    margin-left: 82px;
    padding-top: 10px;
}
.fb{
    text-decoration: none;
    color: #fff;
    margin-left: 172px;
}
.forgotten{
    font-size: 13px;
    color: darkgrey;
}
.sub-btn{
    background: #4267b2;
    border-color:#29487d;
    color: #fff

}
.sub-btn:hover{
    cursor: pointer;
    background: #3b5998;
    

}
.main-body{
    background:linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 500px;

}
.left-section{
    width: 50%;
    float: left;

}
.right-section{
    width: 50%;
    float: left;
}
.para{
    padding-left: 171px;
    padding-top: 27px;
    font-size: 23px;
    font-weight: bold;
    color: #1a314f;
}
.icon{
    padding-left: 206px;
    width: 532px;
}
.create{
    padding-left: 60px;
    font-size: 44px;
    font-weight: bold;
}
.second{
    padding-left: 70px;
    font-size: 18px;
    margin: 0px;
    margin-top: -40px;
}
.fname{
    border-radius: 5px;
    margin-left: 68px;
    font-size: 17px;
    margin-top: 22px;
    height: 26px;
}
.sname{
    border-radius: 5px;
    
    font-size: 17px;
    margin-left: 2px;
    height: 26px;
    width: 172px;
}
.mnumber{
    border-radius: 5px;
    height: 26px;
    width: 399px;
    margin-left: 70px;
    margin-top: 9px;
}
.password{
    border-radius: 5px;
    height: 26px;
    width: 399px;
    margin-left: 70px;
    margin-top: 9px;
}
.bdy{
    margin-left: 71px;
    font-weight: bold;
    font-size: 18px;
    color: grey;
    margin-bottom: 0;
}
.date{
    margin-left: 72px;
    margin-top: 10px;
    border-radius: 5px;
    width: 47px;
    height: 23px;
}
.month{
    height: 23px;
    width: 60px;
    border-radius: 5px;
}
.year{
    height: 23px;
    width: 51px;
    border-radius: 5px;
}
.gender{
    font-weight: bold;
    color: grey;
    margin-left: 71px;
    font-size: 18px;
    margin-top: 10px;
}
.div-space{
    margin: 0%;
}
.div-gender{
    margin-left: 66px;
    margin-bottom:0;
}
.para2{
    margin-left: 73px;
    font-size: 13px;
    color: grey;
    margin-top: -8px;
}
.terms{
    color: blue;
}
.signup{
    margin-left: 72px;
    height: 29px;
    width: 197px;
    border-radius: 5px;
    background: rgb(66,183,42);
    border: none;
    height: 32px;
}
.signup:hover{
    cursor: pointer;
    background: #4de759;
    

}
.footer-english{
    color: grey;
}
.footer-last{
    color: #0e2f63;
}

